3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement1/.settings
3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement1/target
3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement1/.project
3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement1/.classpath

3_Spring Core_Maven/2_Implementing Dependency Injection/code/LibraryManagement2/.settings
3_Spring Core_Maven/2_Implementing Dependency Injection/code/LibraryManagement2/target
3_Spring Core_Maven/2_Implementing Dependency Injection/code/LibraryManagement2/.project
3_Spring Core_Maven/2_Implementing Dependency Injection/code/LibraryManagement2/.classpath

3_1. spring-data-jpa-handson/1_Spring Data JPA - Quick Example/code/orm-learn/target