3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement/.settings
3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement/target
3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement/.project
3_Spring Core_Maven/1_Configuring a Basic Spring Application/code/LibraryManagement/.classpath